body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    background: #d0c9df;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 400px;  
    width: 90%;
    padding: 20px;
}

input {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #b0a7c5;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
}

input:focus {
    outline: none;
    border-color: #6a5acd;
    box-shadow: 0 0 5px rgba(106, 90, 205, 0.5);
}

p {
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
    font-size: 18px;
    width: 89%;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
}


.weak {
    color: rgb(182, 6, 6);
}

.medium {
    color: rgb(238, 163, 2);
}

.strong {
    color: rgb(2, 44, 2);
}

.invalid {
    color: gray;
}


@media (max-width: 768px) {
    .container {
        width: 85%;
        padding: 15px;
    }

    h2 {
        font-size: 22px;
    }

    input {
        font-size: 16px;
        padding: 8px;
    }

    p {
        font-size: 16px;
    }
}


@media (max-width: 480px) {
    .container {
        width: 95%;
        padding: 15px;
    }

    h2 {
        font-size: 20px;
    }

    input {
        font-size: 14px;
        padding: 6px;
    }

    p {
        font-size: 14px;
    }
}
